/* Local-only licensed font override. Hosted builds skip this stylesheet. */
@font-face {
  font-family: Neue;
  src: url("/fonts/NeueEinstellung-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: Neue;
  src: url("/fonts/NeueEinstellung-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: Neue;
  src: url("/fonts/NeueEinstellung-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Neue;
  src: url("/fonts/NeueEinstellung-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  font-family: Neue, Outfit, Arial, sans-serif;
}
